---
const { title } = Astro.props;
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="flex flex-col h-screen w-screen bg-gradient-to-bl from to-blue-900 to-purple-600 text-white p-3"
  >
    <Header />
    <!-- <div class="flex p-10">
      <slot />
    </div>
    <Footer /> -->
  </body>
</html>
