---
import Layouts from "../layouts/Layouts.astro";
---

<Layouts title="Contact">
  <div
    class="min-w-full min-h-full rounded-lg bg-purple-800 hover:bg-purple-900"
  >
    <div class="flex flex-col items-center gap-5">
      <h2 class="text-2xl font-bold">Contact</h2>
      <ul class="flex flex-col items-center gap-5">
        <li><a href=""></a>mateo.rosarino22@gmail.com</li>
        <li><a href=""></a>2216181086</li>
        <li><a href="">@elrosa</a></li>
      </ul>
    </div>
  </div>
</Layouts>
