---
import Layouts from "../layouts/Layouts.astro";
---

<Layouts title="Home">
  <main>
    <div
      class="flex flex-col min-w-full min-h-full px-13 py- 9 items-center rounded-lg bg-purple-800 hover:bg-purple-900"
    >
      <h2 class="text-2xl font-bold">Home</h2>
      <p>
        Que onda capo, mi nombre es Mateo, estudio programacion web y Ad. de base de
        Datos, y este es mi primer portafolio.
      </p>
    </div>
  </main>
</Layouts>
