---
import Layouts from "../layouts/Layouts.astro";
---

<Layouts title="Home">
  <main>
    <h2 class="text-2xl font-bold">Home</h2>
    <p>
      Hola, nombre es Mateo, estudio programacion web y Ad. de base de Datos, y
      este es mi primer portafolio.
    </p>
  </main>
</Layouts>
