---
import "../styles/global.css";
import Navbar from "./Navbar.astro";
---

<header class="flex justify-baseline items-center gap-85 w-full h-15">
  <h1 class="text-xl font-extrabold text-white">Rosa.cc</h1>
  <div>
    <Navbar />
  </div>
</header>
